@model SysDev.Models.UserProfileViewModel
@{
    ViewBag.Title = "Details";
    Layout = null;
}

@Html.AntiForgeryToken()
<div class="modal-header">
    <h4 id="exampleModalLongTitle">

        <a class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </a>
    </h4>
    <div class="row">
        <div class="col-md-4">
            @if (Model.Account.UserProfile.Gender == "Male")
            {
                <img src="~/admin-lte/img/flat-face-male-o.png" class="user-image" alt="User Image" style="width: 150px;">
            }
            else
            {
                <img src="~/admin-lte/img/flat-face-female.png" class="user-image" alt="User Image" style="width: 150px;">
            }

        </div>
        <div class="col-md-8 v-devider">
            <p></p>
            <p></p>
            <p class="lead user-details">
                @Model.Account.UserProfile.FirstName
                <small class="text-muted">@Model.Account.UserProfile.MiddleName</small>
                @Model.Account.UserProfile.LastName
            </p>
            <p class="user-details m-b-10" id="position"><small></small></p>
            <p></p>
            <p class="user-details"><span class="text-muted">Contact No:</span> @Model.Account.UserProfile.ContactNo</p>
            <p class="user-details"><span class="text-muted">Email:</span> </p>
            <p class="user-details"><span class="text-muted">Gender:</span> @Model.Account.Email</p>
            <p class="user-details"><span class="text-muted">Marital Status:</span> Sigle</p>
            <p></p>
            <p class="user-details"><span class="text-muted">Company:</span> @Model.Account.UserProfile.CompanyName</p>
            <p class="user-details"><span class="text-muted">Company ID:</span> @Model.Account.UserProfile.CompanyId</p>
            <p></p>
            <h1></h1>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
<div class="modal-body" id="modal-content">
    Recent Activities

</div>

