@model SysDev.Models.AddUserViewModel
@{
    ViewBag.Title = "Create";
    Layout = null;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "register-user" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="modal-header">
        <h4 id="exampleModalLongTitle">
            Create User
            <a class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
        </h4>
    </div>
    <div class="modal-body" id="modal-content">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 form-group">
                    @Html.LabelFor(m => m.Profile.FirstName, new { @class = "label text-black control-label", })
                    @Html.TextBoxFor(m => m.Profile.FirstName, new { @class = "form-control input-sm" })
                </div>
                <div class="col-md-12 form-group">
                    @Html.LabelFor(m => m.Profile.MiddleName, new { @class = "label text-black control-label" })
                    @Html.TextBoxFor(m => m.Profile.MiddleName, new { @class = "form-control input-sm" })
                </div>
                <div class="col-md-12 form-group">
                    @Html.LabelFor(m => m.Profile.LastName, new { @class = "label text-black control-label" })
                    @Html.TextBoxFor(m => m.Profile.LastName, new { @class = "form-control input-sm" })
                </div>
                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.Profile.Gender, new { @class = "label text-black control-label" })
                    @Html.TextBoxFor(m => m.Profile.Gender, new { @class = "form-control input-sm" })
                </div>
                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.Profile.MaritalStatus, new { @class = "label text-black control-label" })
                    @Html.TextBoxFor(m => m.Profile.MaritalStatus, new { @class = "form-control input-sm" })
                </div>
                <div class="col-md-12 form-group">
                    @Html.LabelFor(m => m.Profile.Address, new { @class = "label text-black control-label" })
                    @Html.TextBoxFor(m => m.Profile.Address, new { @class = "form-control input-sm" })
                </div>
                <div class="col-md-12 form-group">
                    @Html.LabelFor(m => m.Account.Email, new { @class = "label text-black control-label" })
                    @Html.TextBoxFor(m => m.Account.Email, new { @class = "form-control input-sm" })
                </div>

            </div>
            <div class="col-md-6">
                <div class="col-md-12 form-group">
                    @Html.LabelFor(m => m.Profile.CompanyName, new { @class = "label text-black control-label" })
                    @Html.TextBoxFor(m => m.Profile.CompanyName, new { @class = "form-control input-sm" })
                </div>
                <div class="col-md-12 form-group">
                    @Html.LabelFor(m => m.Profile.CompanyId, new { @class = "label text-black control-label" })
                    @Html.TextBoxFor(m => m.Profile.CompanyId, new { @class = "form-control input-sm" })
                </div>
                <div class="col-md-12 form-group">
                    @Html.LabelFor(m => m.Profile.ContactNo, new { @class = "label text-black control-label" })
                    @Html.TextBoxFor(m => m.Profile.ContactNo, new { @class = "form-control input-sm" })
                </div>
                <div class="col-md-12 form-group">
                    @Html.LabelFor(m => m.Account.Email, new { @class = "label text-black control-label" })
                    @Html.TextBoxFor(m => m.Account.Email, new { @class = "form-control input-sm" })
                </div>
                <div class="col-md-12 form-group">
                    @Html.LabelFor(m => m.Account.UserName, new { @class = "label text-black control-label" })
                    @Html.TextBoxFor(m => m.Account.UserName, new { @class = "form-control input-sm" })
                </div>
                <div class="col-md-12 form-group">
                    @Html.LabelFor(m => m.MaritalStatus, new { @class = "label text-black control-label", })
                    @Html.TextBoxFor(m => m.MaritalStatus, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <p id="dialog-alert"></p>
        <button type="button" class="btn " data-dismiss="modal">Close</button>
        <button type="submit" id="save" class="btn btn-primary">Save changes</button>
    </div>
}

<script>


     $('#register-user').submit(function (e) {
         e.preventDefault();
         //swal("Data Save!", "New user has been added", "success");
         $.ajax({
             url: "UserProfile/Save/",
             type: "Post",
             data: $(this).serialize(),
             success: function (result) {
                 //$('#result').html(result);
                 swal("Data Save!", "New User has been added", "success");
             },
             error : function(result) {
                 swal("Data Save!", result, "error");
                 var data = JSON.parse(result);
                 console.log("Error : " + data);
             }
         });
     });

</script>


