@model SysDev.Models.UserProfileViewModel

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.activePage = "Users";
}

<div class="row">

    <div class="col-md-12" style="margin-bottom: 10px;">
        <a id="btnCreate" class="pull-right" data-toggle="modal" href="#myModal"><i class="fa fa-user-plus fa-2x"></i></a>
    </div>




    <div class="col-xs-12">
        <div class="box flat">
            <div class="box-header">

                <div class="box-tools">
                    
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <td width="30px"></td>
                        <td>ID</td>
                        <td>User</td>
                        <td>Date Created</td>
                        <td>Status</td>
                        <td width="300px" class="text-center">Action</td>
                    </tr>

                    @foreach (var account in Model.Accounts)
                    {
                        <tr>
                            <td></td>
                            <td width="40px"><img src="~/admin-lte/img/flat-face-male-o.png" class="user-image user user-menu" alt="User Image" style="width: 30px;"></td>
                            <td>
                                <a href="#myModal" id="btnDetails" class="lead text-black btnDetails" data-toggle="modal" data-id="@account.UserProfile.Id">@account.UserProfile.FirstName @account.UserProfile.LastName</a>
                            </td>
                            <td>
                                @{
                                    var datetime = DateTime.Parse(account.UserProfile.DateCreated);
                                }
                                @datetime.ToShortDateString()
                            </td>

                            <td>
                                @{
                                    var status = account.Status == "Active" ? "label-success" : "label-danger";
                                }
                                <a href="#" id="btnStatus" class="label btnStatus @status" data-id="@account.UserProfile.Id">@account.Status</a>
                            </td>
                            <td>
                                <a href="#myModal" class="label text-black btnEdit" data-toggle="modal" data-id="@account.UserProfile.Id"><i class="fa fa-pencil"></i> Edit</a>
                                | <a href="#" class="label text-black btnResetPwd" data-toggle="modal" data-id="@account.UserProfile.Id"> Reset Password</a>
                                |<a id="btnDelete" class="label text-black btnDelete" data-id="@account.UserProfile.Id"><i class="fa fa-close"></i> Delete</a>
                            </td>
                        </tr>
                     }


                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">

        </div>
    </div>
</div>

@section scripts
{
    <script>
        $('#btnCreate').click(function (e) {
            $("#modal-content").load("/UserProfile/Create");
        });
        $(".btnDetails").click(function(e) {
            $("#modal-content").load("/UserProfile/Details/" + $(this).data("id"));
        });
        $(".btnEdit").click(function(e) {
            $("#modal-content").load("/UserProfile/Edit/" + $(this).data("id"));
        });
        $(".btnStatus").click(function(e) {
            var btnStatus = $(this);
            var requestStatus = (btnStatus.text() === "Active" ? "Inactive" : "Active");
            swal({
                title: (requestStatus === "Active" ? "Activate?" : "Deactivate?"),
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then(function () {
                swal('Please wait');
                swal.showLoading();
                $.ajax({
                    url: "/UserProfile/UpdateStatus/" + btnStatus.data("id"),
                    type: "Post",
                    data: btnStatus.data("id"),
                    success: function (result) {
                        swal({
                            title: "Account is now " + (requestStatus),
                            timer: 3000,
                            type: "success"
                        });
                        btnStatus.removeClass(btnStatus.hasClass("label-success")  ? 'label-success' : 'label-danger');
                        btnStatus.text(requestStatus === "Active" ? "Active" : "Inactive");
                        btnStatus.addClass(btnStatus.text() === "Active"? "label-success" : "label-danger");
                    }
                });
            }).catch(swal.noop);
        });
        $(".btnResetPwd").click(function (e) {
            var btnStatus = $(this);
            var requestStatus = (btnStatus.text() === "Active" ? "Inactive" : "Active");
            swal({
                title: "Continue on resseting password?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then(function () {
                swal('Please wait');
                swal.showLoading();
                $.ajax({
                    url: "/UserProfile/ResetPassword/" + btnStatus.data("id"),
                    type: "Post",
                    data: btnStatus.data("id"),
                    success: function (result) {
                        swal({
                            title: "Password was reseted",
                            timer: 3000,
                            type: "success"
                        });
                        btnStatus.removeClass(btnStatus.hasClass("label-success") ? 'label-success' : 'label-danger');
                        btnStatus.text(requestStatus === "Active" ? "Active" : "Inactive");
                        btnStatus.addClass(btnStatus.text() === "Active" ? "label-success" : "label-danger");
                    }
                });
            }).catch(swal.noop);
        });


        $(".btnDelete").click(function(e) {
            var btnDelete = $(this);

            swal({
                title: "Remove this User?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then(function () {
                swal('Please wait');
                swal.showLoading();
                $.ajax({
                    url: "/UserProfile/Delete/" + btnDelete.data("id"),
                    type: "Post",
                    data: btnDelete.data("id"),
                    success: function (result) {
                        swal({
                            title: "Account is now remove",
                            timer: 3000,
                            type: "success"
                        });
                    }
                });
            }).catch(swal.noop);
            /*    
            swal({
                    title: "Remove this User?",
                    text: "Are you sure you want to do this?",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                function () {
                    setTimeout(function () {
                        $.ajax({
                            url: "/UserProfile/Delete/" + btnStatus.data("id"),
                            type: "Post",
                            data: btnStatus.data("id"),
                            success: function (result) {
                                swal("Account is now remove");
                            }
                        });

                    }, 1000);
                });*/
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}